.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  color: #fff;
  list-style-type: none;
  width: max-content;
}

.menuItem {
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}
